<div class="footer">
  <div class="footer_text">
    <a class="footer_href buttom_color">Главная</a>
    <a class="footer_href">Результаты</a>
    <a class="footer_href">Мероприятия</a>
  </div>
  <div class="footer_text">
    Copyright 2015-{{date}} Дизайн: Шеронов Сергей
  </div>
  <div class="footer_img">
    <a class="footer_href"><img src="assets/footerVk.png" alt=""></a>
    <a class="footer_href"><img src="assets/footerInsta.png" alt=""></a>
    <a class="footer_href"><img src="assets/footerYoutube.png" alt=""></a>
    <a class="footer_href"><img src="assets/footerMail.png" alt=""></a>
  </div>
</div>
